// Body
$body-bg: #f8fafc;
$main-color: #1C75BC;
$main-color2:#4B4B4B;
$main-color3:#e2e2e2;
$main-color4:#fff;
$main-color5:#EFEFEF;
$main-color6:#3F3F3F;
// $text-color2:


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
