@font-face {
    font-family: 'kalameh';
    src: url("../../fonts/kalameh/Kalameh Bold.eot"); /* IE9*/
    src: url("../../fonts/kalameh/Kalameh Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../fonts/kalameh/Kalameh Bold.woff2") format("woff2"), /* chrome、firefox */
    url("../../fonts/kalameh/Kalameh Bold.woff") format("woff"), /* chrome、firefox */
    url("../../fonts/kalameh/Kalameh Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../fonts/kalameh/Kalameh Bold.svg#Kalameh Bold") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: 'kalameh2';
    src: url("../../fonts/kalameh/woff/KalamehWeb_Bold.woff"); /* IE9*/
}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: 'kalameh', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
