@import "../../../../sass/_variables.scss";

.mainMenu{
    background-color:$main-color6;
    backdrop-filter: blur(12px);
}
.aside{
    margin-right:-350px;
    height:100vh;
    background:$main-color6;
    backdrop-filter: blur(12px);
    >ul{
        >a{
            height:3.5rem;
            width:95%;
            padding:2rem 0 2rem 0;
            display:flex; 
            justify-content: space-evenly;
            align-items:center; 
            cursor: pointer;
            border-bottom:1px solid #A7A7A7;
            >li{
                padding:.8rem;
                width:200px;
           }
        }
    }
}